body {
    font-family: 'Signika Negative', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

/*----------- Navbar ------------*/
main {
    margin: 50px;
}

nav {
    background-color: #F9ECE6;
}


header nav ul li a {
    margin: 10px;
}

header .navbar {
    width: 100%;
    display: block;
}

.nav-link {
    color: rgb(71, 63, 63) !important;
    transition: all 0.2s;
    position: relative;
}

header a {
    color: rgb(62, 57, 57);
}

.nav-link:hover::after {
    opacity: 1;
}

.nav-link::after {
    opacity: 0;
    transition: all 0.5s;
    content: '';
    height: 2px;
    width: 100%;
    background-color: pink;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.navbar .Noor {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    font-weight: 500;

}


header nav {
    border: none;
    border-radius: 20px 20px 0px 0px;
}


section {
    border: none;
    border-radius: 0px 0px 10px 10px;
}

.user-option {
    margin-top: 2px;
}

.user-option a {
    margin-left: 6px;
}

/*============= FIRST SECTION ==============*/

.first_section {
    background-color: #F89CAB;
    padding: 15px;
}

.first_section .row {
    margin: 0;
}

.hero_image img {
    max-width: 420px;
    padding-left: 120px;
}

.hero_content {
    padding-top: 90px;

}

.hero_content p {
    color: white;
}

.hero_content h1 {
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    color: white;

}


.btn_product button a {
    text-decoration: none;
    display: inline-block;
    padding: 10px 40px;
    background-color: #db4566;
    color: #ffffff;
    border: 1px solid #f16179;
    border-radius: 5px;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.btn_product button a:hover {
    background-color: transparent;
    color: #d33456;
}

/* shop section */
.shop_section .box .detail-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}



/*<-=============== Product_section ==============->*/

.box .img-box img {
    max-width: 100%;
    max-height: 145px;
    /* margin: 10px; */
    padding-left: 3rem;
    padding-top: 7px;
}

.box {
    background-color: #EEEEEE;
    padding: 2px;
    position: relative;
    padding: 10px;
    margin-top: 25px;
}

.detail {
    display: flex;
    justify-content: space-between;
}

.detail h6 span {
    color: red;
}

.btn_box button a {
    text-decoration: none;
    display: inline-block;
    padding: 10px 40px;
    background-color: #f16179;
    color: #ffffff;
    border: 1px solid #f16179;
    border-radius: 5px;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.btn_box button a:hover {
    background-color: transparent;
    color: #f16179;

}

/*<--============== Saving-Section ==========-->*/

.saving_section .box {
    padding-top: 45px;
    background-color: #7fd7eb;
    color: white;
    border-radius: 15px;
}

.saving_section .row {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}


.saving_section .detail-box p {
    margin-top: 5px;
}

.btnbox .btn1 {
    text-decoration: none;
    display: inline-block;
    padding: 10px 40px;
    background-color: #109dbd;
    color: #ffffff;
    border: 1px solid #109dbd;
    -webkit-transition: all .3s;
    transition: all .3s;
}


.btnbox .btn2 {
    text-decoration: none;
    display: inline-block;
    padding: 10px 37px;
    background-color: white;
    border: 1px solid white;
    color: black;
    -webkit-transition: all .3s;
    transition: all .3s;

}

.btnbox .btn2:hover {
    background-color: transparent;
    color: white;
}

.btnbox .btn1:hover {
    background-color: transparent;
    color: rgb(10, 133, 234);
}

.heading_container h2 {
    font-weight: 700;
}

.heading-container,
h2 {
    text-transform: uppercase;
    font-weight: bolder;
}



/*<============ Why Section ==============>*/

.why_section .box {
    text-align: center;
    margin-top: 45px;
    background-color: #f9f8f7;
    padding: 25px;
    border-radius: 5px;
}

.why_section .box .img-box {
    margin-bottom: 15px;
}

.img-box i {
    font-size: 70px;
    color: #320b57;

}

.img-box p {
    color: black;
    font-weight: 400;
    font-size: large;
}

.img-box .small {
    font-size: 25px;
}



/*=========== Gift Card Section ===============*/
.gift_section {
    margin-top: 120px;
}

.gift_section .row {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}


.gift_section .box {
    background-color: #6929a5;
    border-radius: 15px;
}

.gift_section .detail-box {
    padding: 0 25px;


}

.gift_section .detail-box p {
    margin-top: 12px;
    color: white;
}

.gift_section .detail-box .btn-box {
    -display: flex;
}

/* -----Card Button 02------- */

.btn-box .btn01 {
    text-decoration: none;
    display: inline-block;
    padding: 10px 42px;
    background-color: white;
    border: 1px solid white;
    color: black;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.detail-box {
    margin-left: 40px;
}

.btn-box .btn01:hover {
    background-color: #9242dd;
    color: white;
}

.btn-box {
    gap: 15px;
}

.btn-box .btn02 {
    text-decoration: none;
    display: inline-block;
    padding: 10px 40px;
    background-color: #9242dd;
    border: 1px solid #9242dd;
    color: white;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.btn-box .btn02:hover {
    background-color: transparent;
    color: #9242dd;
}

/*<-------------- Contanct-Section -------------->*/
.contact_section {
    position: relative;
}

.contact_section .container-bg {
    -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
}

.contact_section .row {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.contact_section form {
    padding-right: 45px 20px;
    padding: 35px;
}

.contact_section input {
    width: 100%;
    border: 1px solid black;
    height: 50px;
    margin-bottom: 25px;
    padding-left: 25px;
    background-color: transparent;
    outline: line;
    color: #101010;
}

.contact_section ::placeholder {
    font-size: 20px;
    color: black;
}

.contact_section input.message-box {
    height: 150px;
}

.contact_section button {
    display: inline-block;
    padding: 12px 45px;
    background-color: #d33456;
    color: #fff;
    border: 2px solid #d33456;
    border-radius: 0;
    display: block;
    color: white;
    transition: all .3s;
    -webkit-transition: all .3s;
    margin: 35px auto 0 auto;
}

/*<------------ Footer Section------------->*/

footer {
    border-radius: 10px;
    margin-top: 100px;
    background-color: #2C3F46;
}

.amnk {
    text-decoration: none;
}

footer .prdc a {
    text-decoration: none;
}

form input:hover {
    background: transparent;
}


/*<--============== Responisve ================-->*/

@media(max-width:886px) {
    main {
        margin: 20px;
    }

    section {

        border-radius: 0px 0px 0px 0px;
    }

    nav {
        background-color: white;
    }

    .hero_image img {
        padding-left: 2px;
        width: 100%;
    }

    .hero_content {
        padding-top: 40px;

    }

    .hero_content h1 {
        font-weight: 700;
        font-family: 'Roboto', sans-serif;
        font-size: 40px;
        text-align: start;
    }

    .gift_section .img_container img {
        width: 100%;
    }

    .btn-box .btn01,
    .btn02 {
        width: auto;
        border: 0;
        background: white;
        color: black;
        border-radius: 5px;
        margin: 2px;
    }

    .map-responsive iframe {
        width: 100%;
    }

    .gift_section .detail-box {
        padding: none;
        margin: 0px;
        text-align: justify;
    }

    .btn-box {
        margin-left: 31px;
    }

    .btnbox {
        margin-left: 31px;
    }

    .btnbox .btn1 {
        margin-bottom: 6px;

    }

    .nav-link {
        padding: 0px;
        margin: 0;


    }

    .mobile-toggler-icon {
        display: none;
    }



    .nav-link::after {
        opacity: 0;
        transition: all 0.5s;
        content: '';
        height: 2px;
        width: 6rem;
        background-color: pink;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

}

#topBtn {
    position: fixed;
    width: 40px;
    height: 40px;
    background-color: #F9ECE6;
    bottom: 40px;
    right: 10px;
    text-decoration: none;
    text-align: center;
    line-height: 40px;
    color: rgb(82, 75, 75);
    font-size: 22px;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    display: none;
    z-index: 996;
}